<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" />
    <title>TMDB</title>
</head>
<body>
    <main>
        <div class="main_nav">
            <a href="/">
                <div class="logo_title">
                    <img class="logo" src="/img/MMDB-removebg.png" alt="">
                    <div>
                        <H1>My Movie DB</H1>
                        <p>by API TMDB</p>
                    </div>
                </div>
            </a>
            <%- include('navbar') %>                
        </div>