<form class="form_recherche" action="/movies/" method="post">
    <div class="form_section">
        <label for="idNbre">Recherche par id : </label>
        <input type="number" name="idNbre" id="idNbre"/>        
    </div>    
    <div class="form_section">
        <label for="name">Recherche par nom : </label>
        <input type="text" name="name" id="name"/>
    </div>
    <input type="submit" value="Lancer" />
</form>

