<form action="/movie/" method="post">
    <div>
        <label for="idNbre">Recherche par id : </label>
        <input type="number" name="idNbre" id="idNbre"/>        
    </div>    
    <div>
        <label for="name">Recherche par nom : </label>
        <input type="text" name="name" id="name"/>
    </div>
    <input type="submit" value="Recherche!" />
</form>
<span>-------------</span>   
